!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title
    %link{:href => "_messages.scss", :rel => "stylesheet"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  %body
  / .header
  /   チャットグループが作成されました。
  .contents
    .side-bar
      .side-bar__head
        %h3.user seo
        %ul.user-icon
          =fa_icon "edit"
          =fa_icon "cog"
      .side-bar__body
        %li.sample1
          サンプル
        %li.comment1
          よろしくお願いします。
        %li.sample2
          ABC
        %li.comment2
          まだメッセージはありません。
    .chat-bar
      .chat-bar__head
        %ul.sample
          sample
        %span.edit Edit
        %ul.members
          Members: seo neko
      .chat-bar__body
        %ul.name1 seo
        %ul.daily1 2017/05/18 13:19:51 UTC
        %ul.comment3 Hello world!
        %ul.name2 seo
        %ul.daily2 2017/05/18 13:20:00 UTC
        %ul.comment4 よろしくお願いします
      .chat-bar__send
        .chat-bar__send__message
          %ul.text type a message
          =fa_icon "image"
          %span.send Send
