// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  background: #38AEF0;
  text-align: center;
  color: $font-color;
}

.contents {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  width: 100vw;
  height: 100vh;
// side-barの作成
  .side-bar {
    float: left;
    width: 300px;
    height: 100vh;
    background-color: #2f3e51;
    &__head {
      background-color: #253141;
      color: $font-color;
      padding: 35px 20px;
      .user {
        display: inline-block;
      }
      .user-icon {
        display: inline-block;
        float: right;
        i {
          color: $font-color;
        }
      }
    }
    &__body {
      color: $font-color;
      text-indent: 20px;
      list-style: none;
      .sample1 {
        font-size: $sample-font-size;
        margin: 20px 0 5px 0;
      }
      .comment1 {
        color: $font-color;
        font-size: $comment-font-size;
        margin: 0 0 40px;
      }
      .sample2 {
        color: $font-color;
        font-size: $sample-font-size;
        margin: 20px 0 5px 0;
      }
      .comment2 {
        color: $font-color;
        font-size: $comment-font-size;
        margin: 0 0 40px;
      }
    }
  }

  // chat-barの作成
  .chat-bar {
    float: left;
    width: calc(100vw - 300px);
    height: 100vh;
    &__head {
      background-color: white;
      .sample {
        font-size: 20px;
        color: #333333;
        display: inline-block;
        padding: 29px 0 11px 40px;
      }
      .edit {
        float: right;
        border: solid 3px #38AEF0;
        padding: 5px 20px;
        color: #38AEF0;
        margin: 28px 40px 0 0;
      }
      .members {
        font-size: 12px;
        color: #999999;
        padding: 0 0 6px 40px;
      }
    }
    &__messages {
      background-color: #fafafa;
      height: calc(100vh - 230px);
      overflow: scroll;
      padding: 46px 40px 0 40px;
      .message {
        padding-bottom: 40px;
        .upper-message {
          display: flex;
          margin-bottom: 10px;
          &__user-name {
            font-size: 16px;
            font-weight: bold;
            color: #434a54;
          }
          &__date {
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
        }
      }
    }
    &__form {
      height: 90px;
      background-color: #ddd;
      width: auto;
      .form__message {
        height: 50px;
        width: 100vh;
        padding: 0 40px 0 10px;
        margin: 18px;
      }
      &__mask {
        display: inline-block;
        position: relative;
        width: 48px;
        .form__mask__image {
          .hidden {
            visibility: hidden;
            width: 40px;
          }
          .icon {
            cursor: pointer;
            font-size: 1.3rem;
            position: absolute;
            top: 3px;
            right: 100px;
          }
        }
      }
      .form__submit {
        cursor: pointer;
        background-color: #38AEF0;
        color: white;
        height: 50px;
        padding: 10px 26px;
      }
    }
  }
}